
    <div class="ibox-title">
        <h5>Profile</h5>
    </div><!-- ibox-title -->

    <div class="ibox-content no-padding border-left-right">
        <img alt="image" class="img-responsive " src="<%= image_path('exampleimg/profile_big.jpg') %>">
    </div><!-- ibox image -->

    <div class="ibox-content profile-content">

        <!-- user profile -->
        <h4><strong><%= current_user.first_name%>
        <%= current_user.last_name%></strong></h4>
        <p><%= current_user.company_name%></p>
        <p><%= current_user.email%></p>
        <h5>About me</h5>
        <p>Professor of History</p>
        <p>Fall 17</p>

        <!-- edit button -->
        <div class="user-button">
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary btn-block"
              data-toggle="modal" data-target="#myModal">
                <i class="fa fa-edit"></i>Edit Profile</button>
                  <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated fadeIn">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <i class="fa fa-user modal-icon"></i>
                                    <h4 class="modal-title">Edit Profile</h4>
                                </div>
                                <div class="modal-body">
                                    <%= render :partial => 'editProfile' %>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div><!-- user button -->
    </div><!-- ibox profile content -->
