<% provide(:title, "History 101") %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>History 101</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Lesson 1</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="fh-breadcrumb">
    <div class="fh-column">
        <div class="full-height-scroll">
          <!-- Tabs -->
          <%= render :partial => 'lessons_tabs' %>
        </div>
    </div>

    <div class="full-height">
        <div class="full-height-scroll white-bg border-left">
            <div class="element-detail-box">
                <div class="tab-content">
                  <!-- Tab 1 -->
                  <%= render :partial => 'lessons_tab1' %>
                  <!-- Tab 2 -->
                  <%= render :partial => 'lessons_tab2' %>
                  <!-- Tab 3 -->
                  <%= render :partial => 'lessons_tab3' %>
                  <!-- Tab 4 -->
                  <%= render :partial => 'lessons_tab4' %>
                </div>
            </div>
        </div>
    </div>

</div>

<% content_for :javascript do %>

<script type="text/javascript">

var ready = function() {
  var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
      lineNumbers: true,
      matchBrackets: true,
      styleActiveLine: true,
      theme: "ambiance"
  });

  var mapData = {
      "US": 498,
      "SA": 200,
      "CA": 1300,
      "DE": 220,
      "FR": 540,
      "CN": 120,
      "AU": 760,
      "BR": 550,
      "IN": 200,
      "GB": 120,
      "RU": 2000
  };

  $('#world-map').vectorMap({
      map: 'world_mill_en',
      backgroundColor: "transparent",
      regionStyle: {
          initial: {
              fill: '#e4e4e4',
              "fill-opacity": 1,
              stroke: 'none',
              "stroke-width": 0,
              "stroke-opacity": 0
          }
      },
      series: {
          regions: [{
              values: mapData,
              scale: ["#1ab394", "#22d6b1"],
              normalizeFunction: 'polynomial'
          }]
      },
  });
};


$(document).ready(ready);
$(document).on('page:load', ready);


</script>

<% end %>
