<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <% if user_signed_in? %>
                  <strong class="font-bold"><%= current_user.first_name%></strong><br/>
                  <strong class="text-muted text-xs"><%= current_user.company_name%></strong>
                <% end %>
              </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
             <li><%= link_to 'Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
        <div class="logo-element">
          Oshie
        </div>
      </li>
      <li class="<%= 'active' if current_page?('/home/index') %>">
        <%= link_to "/home/index" do %>
          <i class="fa fa-laptop"></i> <span class="nav-label">Main page</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?('/home/minor') %>">
        <%= link_to "/home/minor" do %>
          <i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
