<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/meta' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>


    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if
    ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

</head>
<body class="gray-bg">

    <!-- Main view  -->
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>

    <%= yield :javascript %>

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if
    ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

</body>
</html>
