<!DOCTYPE html>
<html>
<head>
    <%= render 'layouts/meta' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

</head>
<body class="gray-bg">

    <!-- Devise Flash Messages -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <!-- Main view  -->
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>

    <%= yield :javascript %>

</body>
</html>
